<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Rekordbox Setup Cloner</string>
    <key>CFBundleDisplayName</key><string>Rekordbox Setup Cloner</string>
    <key>CFBundleIdentifier</key><string>local.rekordbox-setup-cloner</string>
    <key>CFBundleExecutable</key><string>RekordboxSetupCloner</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.2.1</string>
    <key>CFBundleVersion</key><string>3</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key><string>local.rekordbox-setup-cloner.setup</string>
            <key>UTTypeDescription</key><string>Rekordbox portable setup</string>
            <key>UTTypeConformsTo</key><array><string>public.json</string></array>
            <key>UTTypeTagSpecification</key>
            <dict><key>public.filename-extension</key><array><string>rbsetup</string></array></dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key><string>local.rekordbox-setup-cloner.recovery</string>
            <key>UTTypeDescription</key><string>Rekordbox local restore point</string>
            <key>UTTypeConformsTo</key><array><string>public.json</string></array>
            <key>UTTypeTagSpecification</key>
            <dict><key>public.filename-extension</key><array><string>rbrecovery</string></array></dict>
        </dict>
    </array>
</dict>
</plist>
